#wrapper {
    grid-template-columns:repeat(4, minmax(0, 175px));

}

#main{
    background-color: #c81212;
}

#projects {
    flex-flow: column wrap;
}

#banner {
    height: 35vh;
}

#c1 {
    margin-top: 175px;
}
#footer {
    
}

#footer p {
    
}

body {
background-color: #1e1e1e;
}

nav {
    position: relative;
}

nav ul {
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

nav ul li {
    display: block;
}


    #example1{
        grid-row: 1 / 5;
        grid-column: 1 / -1;
        background-image: url(images/DeathsDoor_Office.PNG);
    }

    #example2{
        grid-row: 5 / 9;
        grid-column: 1 / -1;
        background-image: url(images/SkinWalker_Church_Shot.JPG);
    }

    #example3{
        display: none;
    }

    #example4{
        display: none;
    }
